<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
 <div class="container">
     <div id="box">
        
        <iframe width="600" height="400" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
     <div id="box">
         <p>Hey! Hey!</p>
         <br>
         <h1>Welcome to Between Two Amps Pilot Episode.  This episode is just Fred and Neeraj talking about their first gear experinces. We reminice about the first days of learning and how it is never about the gear.  If you can write good songs the gear doest really matter.
    </h1></div>
     <div id="box"><h1>comment view section</h1><button>post comments</button></div>
     <div id="box"><h1> this might be open</h1></div>
 </div>

 
  
</body>
</html>