<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
 <div class="container">
     <div id="box">
        
        <iframe width="600" height="400" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
     <div id="box">1</div>
     <div id="box">3</div>
     <div id="box">4</div>
 </div>

 
  
</body>
</html>