<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <div class= "gridcontainer">
        <div id="gridbox">
            <iframe width="400" height="350" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div id="gridbox">
            <iframe width="400" height="350" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div id="gridbox">
            <iframe width="400" height="350" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <div id="gridbox2">
            <iframe src="https://open.spotify.com/embed/episode/7mU64BGpMVZ5Yq71qwrjXH?theme=0" width="100%" height="152" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>

        <div id="gridbox2"><iframe src="https://open.spotify.com/embed/episode/7mU64BGpMVZ5Yq71qwrjXH?theme=0" width="100%" height="152" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe></div>

        <div id="gridbox2">
            <iframe src="https://open.spotify.com/embed/episode/7mU64BGpMVZ5Yq71qwrjXH?theme=0" width="100%" height="152" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
       
    </div>
  
</body>
</html>