<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/crud.css">
    <!-- <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/landing_style.css"> -->


    <title>Document</title>
</head>
<body>

    <div class= "formcontainer">
        <form id="fdiv" action="/b2a" method="POST">
            <h1>new post</h1>
            
            <label for="name" id="name">Name:</label>
            <input id ="iname" name="name" type="text">
            <br>
            <label for="subject" id="subject">Subject:</label>
            <input id ="isubject" name="subject" type="text">
            <br>
            <label for="comment" id="post">Post Comments:</label>
            <textarea name="comment" type="text"></textarea>
            <br>
            <label for="location" id="loc">Where you at?</label>
            <input id="iloc" name="location" type="text">
            <br>
            <input id="btn" type="submit" value="Create Post">
        </form>
    </div>
    

</body>
</html>