<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/crud.css">
    <!-- <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/landing_style.css"> -->


    <title>Document</title>
</head>
<body>
    

    <div class= "formcontainer">
        <h1>new post</h1>
        <form action="/b2a" method="POST">
            
            <label for="name">Name:</label>
            <input name="name" type="text">
            <br>
            <label for="subject">Subject:</label>
            <input name="subject" type="text">
            <br>
            <label for="comment">Post Comments:</label>
            <input name="comment" type="text">
            <br>
            <label for="location">Where you at?</label>
            <input name="location" type="text">
            <br>
            <input type="submit" value="Create Post">
        </form>
    </div>
    

</body>
</html>