<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landing_style.css">
    <link rel="stylesheet" href="/style.css">

    <title>Document</title>
</head>
<body>

<!-- <header>
   <%- include('../partials/nav.ejs')%>
</header> -->
    

<div class='firstimg'>

   

    <div class="abouttxt">
        <span class="border">
            
        </span>
    </div>
</div> 

<hr color="#000000" size="2" width="75%">
<%- include('../partials/nav.ejs')%>
<section class="section section-light">
    
<div class="container">
     <div id="box">
        <iframe width="400" height="300" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe src="https://open.spotify.com/embed/track/2stbjvpFujerfDUuUUPX7o?theme=0" width="100%" height="80" frameBorder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>

    <div id="box-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti fugit laudantium temporibus totam adipisci. Odio, non. Ipsam, aperiam fugit explicabo nostrum cumque accusamus repellat, facilis illo, adipisci consequatur aut voluptatem!  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, commodi optio nesciunt delectus quis molestias? Delectus similique hic illum veniam placeat odio, dolorum, labore exercitationem cupiditate molestias voluptatibus at et! 

        questions or comments? post way!

        
        
   </div>
    <!-- <div id="box">
      <h1>hello</h1>
        </div> -->
   
</section>

<!-- <div class='secondimg'>
    <div class="abouttxt">
        <span class="border">
            image 2 text.
        </span>
    </div>
</div> 


<section class="section section-dark">
    <h2>section 1</h2>

    </section>

    <div class='thirdimg'>
        <div class="abouttxt">
            <span class="border">
                image 3 text.
            </span>
        </div>
    </div>



    <section class="section section-dark">
        <h2>section 1</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio minima doloribus reprehenderit dolor! Recusandae sequi architecto cupiditate quam libero. Laborum omnis iste blanditiis odio nihil earum fugiat accusamus facere dolorum dicta quibusdam quos itaque eum aspernatur, ratione voluptas commodi inventore 
        </p>
        </section>





        <div class='firstimg'>
            <div class="abouttxt">
                <span class="border">
                    Between Two Amps
                </span>
            </div>
        </div>  -->

</body>
</html>



