<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landing_style.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>

<header>
    <ul>
        <li><a href ="">home</a></li>
        <li><a href ="">episodes</a></li> 
        <li><a href ="">news & blog</a></li>   
    
    </ul>
</header>
    

<div class='firstimg'>
    <div class="abouttxt">
        <span class="border">
            Between Two Amps
        </span>
    </div>
</div> 

<section class="section section-light">
<div class="container">
     <div id="box">
        <iframe width="600" height="400" src="https://www.youtube.com/embed/HaKcxOPuv8c?start=35" title="YouTube video player" frameborder="1px" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div id="box">
        <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/614931458?h=43043a714c&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="b2a trailer"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script> 
   </div>
    <div id="box"><h1>show comments</h1><button>post comments</button></div>
    <div id="box"><h1> this might be open</h1></div>
</div>
</section>

<div class='secondimg'>
    <div class="abouttxt">
        <span class="border">
            image 2 text.
        </span>
    </div>
</div> 


<section class="section section-dark">
    <h2>section 1</h2>

    </section>

    <div class='thirdimg'>
        <div class="abouttxt">
            <span class="border">
                image 3 text.
            </span>
        </div>
    </div>



    <section class="section section-dark">
        <h2>section 1</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio minima doloribus reprehenderit dolor! Recusandae sequi architecto cupiditate quam libero. Laborum omnis iste blanditiis odio nihil earum fugiat accusamus facere dolorum dicta quibusdam quos itaque eum aspernatur, ratione voluptas commodi inventore 
        </p>
        </section>





        <div class='firstimg'>
            <div class="abouttxt">
                <span class="border">
                    Between Two Amps
                </span>
            </div>
        </div> 

</body>
</html>



