
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


body,html{
    height:100%;
    margin: 0;
    font-size: 16px;
    font-family:"Permanent Marker", cursive, sans-serif ;
    font-weight: 400;
    line-height: 1.8em;
}

.formcontainer{
    padding-top: 150px;
    margin-left: 200px;
    /* display:flex; */
    /* width: 600px; */
    height: 200px;
    background-color: white;
    margin: 0px;
    border: 1px solid black;
    text-align: center;  
}

textarea {
    width: 300px;
    height: 300px;
    padding: 12px;
    margin-right: 151px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
    resize: none;

    /* background-color: #f8f8f8; */
}

#iname {
    margin-right: 84px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

#isubject{
    margin-right:104px ;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    margin-bottom: 10px;
}

#iloc{
    margin-right:166px ;
    box-sizing: border-box; 
    border: 2px solid black;
    border-radius: 4px; 
    margin-bottom: 10px;
}


label {
     padding: 10px;
}

#post {
    padding-bottom: 10px;
}
