@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


 .nav {
     display: flex;
     justify-content: space-evenly;
     font-size: 20px;
     /* background-color: cadetblue; */
     align-content: flex-start;
 }