.container {
  display: flex;
  background-color: forestgreen;
  width: 1600px;
  height: 900px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  margin-left: 150px;
}

#box {
  width: 600px;
    height: 400px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    text-align: center;
       
}

.gridcontainer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  /* grid-template-rows: 500px; */
  grid-column-gap: 50px;
  grid-row-gap: 9px;
  justify-items: stretch;
  align-items: stretch;
  margin-left: 300px;
  margin-top: 150px;
  
}

#gridbox {
  width: 400px;
    height: 350px;
    /* background-color: white; */
    margin: 10px;
    border: 1px solid black;
    text-align: center; 
    background-image:url("/Amp1.png")
}

#gridbox2 {
  width: 400px;
    height: 200px;
    background-color: white;
    margin: 10px;
    border: 1px solid black;
    text-align: center;   
}

.episodecontainer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  /* grid-template-rows: 500px; */
  grid-column-gap: 50px;
  grid-row-gap: 9px;
  justify-items: stretch;
  align-items: stretch;
  margin-left: 300px;
  margin-top: 150px;
  
}
